.slideCarouselMobile p {
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.carouselMapasMobile {
    position: relative;
    display: flex;
}
.setaPaisMobile img {
    object-fit: cover;
    height: auto;
    width: 5vw;
    position: absolute;
    top: 50%;
    right: 0vw;
}
.setaPaisMobile button {
    background: none;
    border: none; 
    outline: none; 
    box-shadow: none; 
    cursor: pointer;
}

.slideCarouselMobile img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 500px) { 
    .slideCarouselMobile img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .slideCarouselMobile {
        height: 30vh;
        width: auto;
    }
    .slideCarouselMobile p {
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 2.5vh;
    }
    .carouselMapasMobile {
        display: flex;
        align-items: center;
        justify-self: center;
    }

}

@media (min-width: 600px) { 
    .slideCarouselMobile img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .slideCarouselMobile {
        height: 35vh;
        width: auto;
    }
    .carouselMapasMobile {
        display: flex;
        align-items: center;
        justify-self: center;
    }

}

@media (min-width: 700px) { 
    .slideCarouselMobile img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .slideCarouselMobile {
        height: 40vh;
        width: auto;
    }
    .carouselMapasMobile {
        display: flex;
        align-items: center;
        justify-self: center;
    }
    

}
@media screen and (max-width: 1000px) and (orientation: landscape) {
    .slideCarouselMobile img {
       height: 60vh;
       width: auto;
    }
    .carouselMapasMobile {
        display: flex;
        align-items: center;
        justify-self: center;
    }
    .setaPaisMobile {
        position: relative;
        left: 10vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1380px) and (orientation: landscape) {
    .slideCarouselMobile {
        height: auto;
        width: 55vw;
    }
    .setaPaisMobile {
        position: relative;
        left: 15vw;
    }
}