.infoItem {
    color: #fff;
    font-size: 1.8vh;
    font-weight: bold
}

.informacoesMobile {
    background-color: #1E1E1E;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.infoItem {
    text-align: center;
}
.informacoesMIcone {
    margin: 0 auto; 
}
  
.informacoesMText {
    text-align: center; 
}
  