/*LOGOS*/
.logo2{
    position: relative;
    top: 15vh;
    left: 88vw;
    height: 10vh;
    width: 7vw;
}

/*TITULOS/BUTTON*/
.parte3 {
    margin-top: 30vh;
}
.parte3 h1 {
    line-height: 0.5; 
    margin-left: 5vw;
    text-align: left;
    color: #FF3900;
    font-weight: bold;
    font-size: 8vh;
}
.parte3 p {
    line-height: 1.2; 
    margin-left: 5vw;
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 3vh;
}
.parte3MOBILE{
    display: none;
}


/* FOTOS */
.fotos {
    margin-top: 12vh;
    display: flex;
    gap: 1.7vw; }/* Espaçamento horizontal entre as imagens */
    
.imagem {
    width: 30vw;
    height: 60vh;
    margin: auto;
    position: relative;
    
}
.imagem img {
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    object-fit: cover;
}
.imagem1 {
    width: 30vw;
    height: 60vh;
    margin: auto;
    position: relative;
}
.imagem1 img {
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    object-fit: cover;

}
.imagem2 {
    width: 30vw;
    height: 60vh;
    margin: auto;
    position: relative;
}
.imagem2 img {
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    object-fit: cover;

}
.imagem3 {
    width: 30vw;
    height: 60vh;
    margin: auto;
    position: relative;
}
.imagem3 img {
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    object-fit: cover;

}
.descricaoC,
.descricaoAW,
.descricaoM,
.descricaoT
{
    font-size: 2.2vh;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-bottom-left-radius: 5vh; /* Adicione borda arredondada apenas na parte inferior esquerda */
    border-bottom-right-radius: 5vh; /* Adicione borda arredondada apenas na parte inferior direita */
    padding: 1vh 0; /* Adicione preenchimento apenas na parte superior e inferior */
}




@Media (max-width: 949px) {
.logo2-mobile {
position: relative;
top: 15vh; 
left: 77vw;
height: 8vh;
width: 18vw;
}


/*FOTOS CAROUSEL-MOBILE*/
.parte3 {
    display: none;
}
.parte3MOBILE {
    display: block;
}

.imagem-mobile {
    width: 95vw;
    height: 60vh;
    margin: auto;
    position: relative;
    
}
.imagem-mobile img {
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    object-fit: cover;
}
.imagem1-mobile {
    width: 95vw;
    height: 60vh;
    margin: auto;
    position: relative;
}
.imagem1-mobile img {
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    object-fit: cover;

}
.imagem2-mobile {
    width: 95vw;
    height: 60vh;
    margin: auto;
    position: relative;
}
.imagem2-mobile img {
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    object-fit: cover;

}
.imagem3-mobile {
    width: 95vw;
    height: 60vh;
    margin: auto;
    position: relative;
}
.imagem3-mobile img {
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    object-fit: cover;

}
.descricaoC,
.descricaoAW,
.descricaoM,
.descricaoT
{
    font-size: 2.2vh;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-bottom-left-radius: 2vh; /* Adicione borda arredondada apenas na parte inferior esquerda */
    border-bottom-right-radius: 2vh; /* Adicione borda arredondada apenas na parte inferior direita */
    padding: 1vh 0; /* Adicione preenchimento apenas na parte superior e inferior */
}
.parte3MOBILE h1 {
    line-height: 1.0; 
    margin-left: 5vw;
    text-align: left;
    color: #FF3900;
    font-weight: bold;
    font-size: 8vh;
}
.parte3MOBILE p {
    line-height: 1.2; 
    margin-left: 5vw;
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 3vh;
}
}