.saibaMais1Mobile {
    background-color: #FF0000;
    position: relative;
    height: 100vh;
}
.textosPrimeirapaginaMobile h1 {
    text-align: center;
}
.textosPrimeirapaginaMobile p{
    color: #fff;
    text-align: left;
    margin-top: 5vh;
}
.computadorRetanguloMobile img {
    height: 100%;
    width: 100%;
    margin-top: 10vh;
}
.textosPrimeirapaginaMobile {
position: absolute;
top: 10vh;
}
