/*TEXTOS*/
.titulo {
    margin-left: 0vw;
    position: relative;
    top: 18vh;
    left: 5vw;
}
.titulo h1 {
    font-weight: bold;
    font-size: 8vh;
    color: #FF3900;

}

.titulo p {
    font-weight: bold;
    font-size: 3vh;
    color: #fff;
}
.saibamais-mobile {
    display: none;
}
.saibamais {
    position: absolute;
    left: 10vw;
    font-size: 4vh; 
    background-color: #FF3900;
    border-radius: 5vh;
    border: none;
    font-weight: 700;
    color: #fff;
    transition: all .3s ease-in-out;
    text-decoration: none;
    cursor: pointer; 
    padding: 1vh 3vh; 

}
.saibamais:hover {
    transform: scale(1.1); 
}




@media (max-width: 949px) {
/* BUTTON */
.saibamais{
    display: none;
}
.saibamais-mobile {
    display: block;
    position: absolute;
    left: 10vw;
    font-size: 4vh; 
    background-color: #FF3900;
    border-radius: 5vh;
    border: none;
    font-weight: 700;
    color: #fff;
    transition: all .3s ease-in-out;
    text-decoration: none;
    cursor: pointer; 
    padding: 1vh 3vh; 
}
.saibamais-mobile:hover {
    transform: scale(1.1); 
}
}