.footerMobile{
    position: relative;
    background-color: #FF3900;  
    height: 80vh;
    display: flex;  
    flex-direction: column;

}
.redessociaisfooterMobile {
    display: flex;
}
.logofooterMobile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logofooterMobile {
    height: auto;
    width: 35vw;
    margin-top: 13vh;
    position: absolute;
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
}
.positionFooterMobile {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
}
.textosfooterMobile h1 {
    text-align: center;
    color: #fff;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 3.8vh;
}
.enderecoFooterPaiMobile {
    width: 80vw;
    margin-top: 2vh;
    text-align: center;
}
.enderecoIconeMobile {
    color: #fff;
    font-size: 3vh;
}
.endereçosFooterMobile {
    text-decoration: none;
    border: none;
    color: #fff;
}
@media (min-width: 540px) {
    .logofooterMobile {
        height: auto;
        width: 35vw;
        margin-top: 9vh;
        position: absolute;
        top: 6vh;
        left: 50%;
        transform: translateX(-50%);
    } 


}

@media screen and (orientation: landscape) {
    .logofooterMobile img {
        height: auto;
        width: 20vw;
        object-fit: cover;
    }
    .logofooterMobile {
        position: absolute;
        top: 8vh;
        left: 50%;
        transform: translateX(-30%);
    }
    .textosfooterMobile h1 {
        font-size: 5vh;
        margin-top: 15vh;
    }
    .redessociaisfooterMobile {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .enderecoFooterPaiMobile {
        margin-top: 11vh;
    }
    .enderecoIconeMobile {
        font-size: 4vh;
    }
}
