.footerMobile{
    position: relative;
    background-color: #FF3900;  
    height: 80vh;
    display: flex;  
    flex-direction: column;

}
.redessociaisfooterMobile {
    display: flex;
}
.logofooterMobile img{
    height: 100%;
    width: 100%;
}
.logofooterMobile {
    height: 15vh;
    width: 45vw;
    margin-top: 10vh;
    position: absolute;
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
}
.positionFooterMobile {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
}
.textosfooterMobile h1 {
    text-align: center;
    color: #fff;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 3.8vh;
}


@media (min-width: 540px) {
    .logofooterMobile {
        height: 15vh;
        width: 40vw;
        margin-top: 10vh;
        position: absolute;
        top: 6vh;
        left: 50%;
        transform: translateX(-50%);
    } 


}