.saibaMais3Mobile {
    height: 100vh;
    background-color: #ffffff;
    position: relative;
}
.seta2Mobile img {
    height: 100%;
    width: 100%;
}
.seta2Mobile {
    height: 20vh;
    width: 30vh;
    position: absolute;
    bottom: 90vh;
}
.terceiroRetanguloMobile h1 {
    color: #FF3900;
    margin-left: 2vw;
}
.terceiroRetanguloMobile p {
    margin-top: 8vh;
    margin-left: 2vw;
    color: #000;
}
.terceiroRetanguloMobile {
    position: absolute;
    top: 12vh;
    white-space: pre-line;
}
.retangulo2Mobile img {
    height: 100%;
    width: 100%;
}
.retangulo2Mobile {
    position: absolute;
    top: 45vh;
}

@media screen and (orientation: landscape) {  
    .retangulo2Mobile img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .retangulo2Mobile {
        height: auto;
        width: 28vw;
    }
 }