.envioEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    height: 100vh;
  }
  .titulosolicite {
    margin-top: 8vh;
    white-space: pre;

  }
.titulosolicite h1{
    color: #fff;
    text-align: center;
    font-size: 8vh;
} 
.titulosolicite  p{
    text-align: center;
    font-size: 3.5vh;
    color: #fff;
}
.titulosolicite span {
    color: #FF3900;
}
.segmentoSolicitado {
    position: relative;
}
.question {
    background-color: #FF3900;
    border-radius: 20vh;
    height: 5vh;
    width: 5vh;
    position: absolute;
    top: 2vh;
    right: 0.2vw;
}
.question {
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputs {
    background-color: #fff;
    height: 8vh;
    width: 50vw;
    border-radius: 2.5vh;
    border: 1px solid #ccc; 
    padding: 0.5rem; 
    box-sizing: border-box; 
}
.input1 {
    background-color: #fff;
    height: 8vh;
    width: 24vw;
    border-radius: 2.5vh;
    margin-left: 1.5vw;
    border: 1px solid #ccc; 
    padding: 0.5rem; 
    box-sizing: border-box;
}
.input2 {
    background-color: #fff;
    height: 8vh;
    width: 24vw;
    border-radius: 2.5vh;
    border: 1px solid #ccc; 
    padding: 0.5rem; 
    box-sizing: border-box;
}
.telefoneSegmento {
    display: flex;
}
.mensagemAoPassarMouse {
    background-color: #FF3900;
    border-radius: 2vh;
    width: 20vw;
    height: auto;
    position: absolute;
    top: 6.5vh;
    right: 1vw;

}
.mensagemAoPassarMouse p{
    white-space: nowrap;
    text-align: center;
    font-size: 2vh;
    white-space: pre-line;
}
.QrcodePai {
    position: relative;
}
.Qrcode img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Qrcode {
    height: 28vh;
    width: 28vh;
    position: absolute;
    bottom: 2vh;
    left: 28vw;
}
.imagemReuniao{
    position: relative;
    margin-top: 10vh;
}
.imagemReuniao img{
    position: absolute;
    left: 0vw;
    top: 1.7vh;
}
.MarcaReuniao {
    font-size: 4.5vh;
    background-color: #C1C1C1;
    border-radius: 2vh;
    border: none;
    font-weight: bold;
    color: #fff;
    transition: all .3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    padding: 1vh 13.5vh;
    height: 12vh;
    width: 34.5vw;
    text-align: center;
    margin-bottom: 10vh;
    border: none;
    cursor: pointer;

}
.setass {
    position: relative;
}
.setacima img{
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
}
.setacima {
    height: 20vh;
    width: 15vw;
    position: absolute;
    left: 58vw;
    bottom: 24vh;
}
.FormularioEnvioEmails .inputs {
    margin-bottom: 2vh; 
}
.FormularioEnvioEmails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}



@media (max-width: 1000px) { 
    .QrcodePai {
        display: none;
    }   
}
@media (min-width: 1000px) { 
 
}