.footer {
    background: linear-gradient(0deg, #FF3900 -30%, #1E1E1E 20%);
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 90;
}

/*TEXTO*/
.textosfooter {
    max-width: 20vw;
}
.textosfooter h1 {
    color: #fff;
    font-size: 3vh;
    white-space: nowrap;
    margin-top: 5vh;
    white-space: pre-line; 
}
.ladodireito h1 {
    color: #fff;
    margin-top: 0vh;
    text-align: right;
}
.meiodireito h1,
.meioesquerdo h1 {
    color: #FF3900;
    font-size: 3vh;
    margin-bottom: 5vh;
}
.meiodireito a,
.meioesquerdo p{
text-decoration: none;
display: block;
color: #fff;
margin-bottom: 2vh;
font-size: 2.2vh;
}
.meiodireito a:hover {
    transform: scale(1.01);
}



/*LOGOS*/
.logooFooter {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.logofooter {
    height: 10vh;
    width: 8vw;
}
.PlayStore img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.AppStore img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.PlayStore{
    height: auto;
    width: 12vw;
    max-height: 100%;
}
.AppStore {
    margin-top: 1vh;
    height: auto;
    width: 12vw;
    max-height: 100%;
}
.downloads {
    margin-top: 2vh;
    position: absolute;
    right: 0vw;
}


/*REDESSOCIAIS*/

.iconee {
    font-size: 4vh; 
    text-decoration: none;
    color: #fff;
    margin-top: 2vh;
    margin-left: 0.5vw;
}
.iconee:hover {
    transform: scale(1.2);
}
/*BUTTON*/
.divbuttontopo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.topo01 {
    position: relative;
}
.divbuttontopo {
    width: 10vw;
    height: auto;
    position: relative;
    left: 42.5vw;
    top: 0.3vh;
}
.divbuttontopo:hover {
    transform: scale(1.08);
}
.buttontopo {
    border: none;
    outline: none;
    background: transparent; 
    cursor: pointer; 
    padding: 0; 
}

/*POSICIONAMENTO*/
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
.ladoesquerdofooter {
    margin-top: 5vh;
    position: relative;
    margin-left: 3vw;
}
.meioesquerdofooter {
    margin-top: 6vh;
    position: relative;
}
.meiodireitofooter{
    margin-top: 6vh;
    position: relative;
}
.ladodireitofooter {
    margin-top: 5vh;
    position: relative;
}
.ladodireito {
    position: absolute;
    right: 4vw;
}
.enderecoIcone{
    color: #fff;
    font-size: 5vh;
    margin-right: 1vw;
}
.enderecoFooterPai {
    width: 18vw;
    margin-top: 2vh;
    display: flex;
}
.endereçosFooter {
    text-decoration: none;
    border: none;
    color: #fff;
}
.endereçosFooter:hover {
    color: #FF3900;
    transform: scale(1.02); 
}
.enderecoIcone:hover {
    color: #FF3900;
    transform: scale(1.2); 
}
@media screen and (min-width: 1366px) and (max-width: 1366px) and (min-height: 1024px) and (max-height: 1024px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
    .ladoesquerdofooter {
        margin-top: 5vh;
        position: relative;
        margin-left: 3vw;
    }
    .meioesquerdofooter {
        margin-top: 6vh;
        position: relative;
        left: 5vw;
    }
    .meiodireitofooter{
        margin-top: 6vh;
        position: relative;
        left: 5vw;
    }
    .ladodireitofooter {
        margin-top: 5vh;
        position: relative;
    }
    .ladodireito {
        position: absolute;
        right: 4vw;
    }
    .iconee {
        font-size: 3vh; 
    }
    .logofooter {
    height: auto;
    width: 12vw;
    }
}