.saibaMais5 {
    background-color: #000;
    height: 100vh;
    position: relative;
}
.seta1-1 img {
    height: 100%;
    width: 100%;
    transform: scaleX(-1);    
}
.seta1-1 {
    height: 30vh;
    width: 25vw;
    position: absolute;
    bottom: 86vh;
}
.cadeira img {
    height: 100%;
    width: 100%;
}
.cadeira {
    height: 60vh;
    width: 60vh;
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}
.quintoRetangulo h1{
    color: #FF3900;
    font-size: 8vh;
    position: absolute;
    right: 7vw;
    top: 10vh;
}
.quintoRetangulo p {
    color: #fff;
    font-size: 4.5vh;
    position: absolute;
    right: 7vw;
    top: 30vh;
    text-align: right;
    white-space: pre-line;

    
}